<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About Brett's Furniture Shop</h1>
<a href="http://localhost:8080/">Link
    to Main Screen</a>

<div class="container">
    <p>Brett's Furniture Shop is a top of the line provider for those who seek exceptional furniture.
        His shop provides many popular items by default, such as chairs, tables, and desks. Beyond that
        there are other more luxurious items that are available for purchase. Custom options are also
        available upon request.
    </p>


</div>


</body>
</html>